.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 72px;
  color: #0ccac4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  margin: 10px;
  padding: 10px;
  text-decoration: none !important;
  border-radius: 0.5rem !important;
  color: aliceblue;
}

.btn-primary {
  background-color: blueviolet;
}

.btn-primary:hover {
  background-color: slateblue;
  transform: translateX(1px) translateY(1px) scale3d(1.1, 1.1, 1.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}